.company0{
  background-color: #5555FF;
  word-wrap: break-word;
  width: 100%;
  border-radius: 20px;
}
.company1{
  background-color: #FF0000;
  word-wrap: break-word;
  width: 100%;
  border-radius: 20px;
}
.company2{
  background-color: #00FF00;
  word-wrap: break-word;
  width: 100%;
  border-radius: 20px;
}
.company3{
  background-color: #FFFF00;
  word-wrap: break-word;
  width: 100%;
  border-radius: 20px;
}
.company4{
  background-color: #FF8888;
  word-wrap: break-word;
  width: 100%;
  border-radius: 20px;
}
